.image-upload-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  label {
    border: 1px solid #212121;
    padding: 10px;
    cursor: pointer;
    font-family: system-ui;
  }

  .progress-bar {
    padding: 20px;
  }
}
