.like-container {
  display: flex;
  justify-content: center;

  flex-direction: column;
  gap: 5px;
  padding: 7px 10px;
  cursor: pointer;
  margin-bottom: -20px;
  .hr-line {
    margin-top: -17px;
    hr {
      border-top: 1px solid rgb(181, 181, 181);
    }
  }
  p {
    font-family: system-ui;
    font-weight: 400;
    color: rgba(58, 58, 58, 0.835);
    font-size: 14px;
    margin-left: 5px;
  }

  .likes-inner {
    display: flex;
    align-items: center;
    margin-top: -20px;
    .blue {
      color: #0a66c2;
    }

    .black {
      color: rgba(58, 58, 58, 0.835);
    }
    p {
      font-family: system-ui;
      font-weight: 600;
      color: rgba(58, 58, 58, 0.835);
      font-size: 16px;
    }
  }
}
